.allorders {
    padding-top: 0.7rem;
    width: 100%;
}

.homeContainer{
    padding: 0.3rem;
    width: 100%;
}

.searchButton {
    position: absolute;
    right: 0px;
    top: 12px;
    width: 23px;
    height: 23px;
    border: 0.1px solid black;
    border-radius: 2px;
}

.printButton {
    position: fixed;
    right: 5%; 
    bottom: 10%;
    margin-right: 20;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
